body{
	margin-top: 20px;
}

.panel-heading, .panel-footer{
     background-color: #d99f0d !important;
}

.panel{
	box-shadow: 10px 10px 5px grey;
}

.table-bordered, .table-bordered td, .table-bordered th{
    border-color: #d99f0d !important;
}

table,th,td{
	text-align:center;
}

a{
	color:black;
}

.searchLabel{
	font-size:20px;
}

.nav-wizard > li > a {
	width:190px;
}
			
.nav-wizard{
	margin-left:15px;
}

.cropSelection{
	width:120px;
}

.options{
	margin-left:49px;
}

.options> li > a:hover{
	color: #d99f0d;
}

.spaceBottom{
	margin-bottom:20px;
}

.cropradio{
	padding-left:0;
}

iframe, object, embed {
    max-width: 100%;
}

.footerOptions{
	margin-left:330px;
}

.labelPadding{
		padding-left:30px;
}
.tableOptions{
	background-color:#f9e09f;
}
