
.panel-heading, .panel-footer{
     background-color: #66B233 !important;
}


.table-bordered, .table-bordered td, .table-bordered th{
    border-color: #66B233 !important;
}

table,th,td{
	text-align:center;
}

a{
	color:black;
}


.searchLabel{
	font-size:20px;
}

.nav-wizard > li > a {
	width:170px;
}
			
.nav-wizard{
	margin-left:45px;
}

.cropSelection{
	width:120px;
}

.pillsOptionsProductDef{
	margin-top:40px;
	padding-left:80px;
}

.pillsOptions{
	padding-left:80px;
}

.options> li > a:hover{
	color: #66B233;
}

.spaceBottom{
	margin-bottom:20px;
}

.cropradio{
	padding-left:0;
}

iframe, object, embed {
    max-width: 100%;
}

.labelPadding{
		padding-left:30px;
}
.tableOptions{
	background-color:#ADE857;
}
